<html ng-app="deployer">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="<% request.uri_base %>/css/forms.css"/>

        <script type="text/javascript" src="<% request.uri_base %>/javascripts/angular.js"></script>
        <script type="text/javascript" src="<% request.uri_base %>/javascripts/angular-script.js"></script>
  
  <body  ng-controller="deployerController">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Deployer </b>Deployer Window</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Logoff</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h1>Deployer Steps&nbsp;
                <small>Release v{{data.release}}</small>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div ng-if="data.jobs.length > 0">
                  <!-- <div ng-include="jobPage"></div> -->
                  <ul class="list-group" id="addedJobs">
                    <li class="list-group-item" ng-style="style={'background-color':job.jobColor}" ng-repeat="job in data.jobs | filter : job.state = 'Accept'" >
                      <div class="row">
                          <span class="col-md-10 hideOverflow">{{job.jobName}}</span>
                          <h4 class="col-md-2-offset-1 great fixed" ng-style="jobStyle">{{job.runStatus}}</h4>
                          <span class="col-md-2-offset-1 fixed"><a class="btn btn-primary btn-sm" href="#" ng-click="showJob(job.jobName,job.jobDescription,job.id)">Show</a></span>
                          
                      </div>
                    </li>
                  </ul>
            </div>
          </div>


          <div class="col-md-3" ng-if="data.jobs.length > 0">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Release {{data.release}}</h3>
              </div>
              <div class="panel-body">
                <p><strong>Post Date</strong> <small>{{data.postDate}}</small></p>
                <p><strong>Posted By</strong> <small>{{data.postedBy}}</small></p>
                <p><strong>Modified</strong> <small>{{data.modifiedDate}}</small></p>
                <p><strong>Approved By</strong> <small>{{data.approvedBy}}</small></p>
              </div>
            </div>
          </div>

          <div class="col-md-3" ng-if="data.jobs.length > 0">
            <div class="panel panel-{{deploymentPanel}}">
              <div class="panel-heading">
                <h3 class="panel-title">Deployment go/nogo : <strong>{{deploymentPanelMessage}}</strong></h3>
              </div>
              <div class="panel-body">
                <p><strong>Status</strong> <small>{{data.status}}</small></p>
                <p><strong>Run time</strong> <small>{{data.runTime}}</small></p>
                <p><strong>Ran by</strong> <small>{{data.ranBy}}</small></p>
              </div>
            </div>
          </div>



          <div class="col-md-6 pull-right">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{selectedJobName}}</h3>
              </div>
              <div class="panel-body">
                <p>{{selectedJobDescription}}</p>
              </div>
            </div>
            <a class="btn btn-primary" ng-if="data.readyForDeployment">Deploy !!</a>

            <!-- <div class="alert alert-dismissable alert-success">
              <strong>Well done!</strong>You successfully read this important alert message.</div> -->
          </div>
        </div>
      </div>
    </div>
  </body>

</html>