<html ng-app="deployer">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        
        <script type="text/javascript" src="<% request.uri_base %>/javascripts/angular.js"></script>
        <script type="text/javascript" src="<% request.uri_base %>/javascripts/angular-script.js"></script>
    
    <body  ng-controller="developerController">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><b>Deployer </b>Developer Window</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Logoff</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1>Deployer Steps
                                <small>Release v 1.0</small>
                            </h1>
                            <nav class="nav navbar-default">
                            <ul class="nav nav-pills ">
                                <li><a href="#"><strong>New Deployment</strong></a></li>
                                <li><a href="#" ng-click="fetchPreviousDeployment()"><strong>Last Deployment 
                                    <span aria-hidden="true" class="glyphicon glyphicon-asterisk text-danger gi-1x" ng-if="warningInPreviousDeployment"></span></strong> </a></li>
                            </ul>
                        </nav><!-- Menu Bar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 fixed" >
                    <div ng-if="data.jobs.length > 0">
                  <!-- <div ng-include="jobPage"></div>  -->
                                <ul class="list-group" id="addedJobs">
                                    <li class="list-group-item" ng-style="style={'background-color':job.jobColor}" ng-repeat="job in data.jobs" >
                                    <div class="row">
                                    <span class="col-md-10 hideOverflow">{{job.jobName}}</span>
                                    <span class="col-md-2 fixed" ng-if="newDeployment"><a class="btn btn-primary btn-sm" href="#" ng-click="deleteJob(job.id)">Delete</a></span>
                                    <span class="col-md-2 fixed" ng-if="oldDeployment"><a class="btn btn-primary btn-sm" href="#" ng-click="modifyJob(job.id)">Modify</a></span>
                                    </div></ul>
                        
                </div></div>
                <div class="col-md-6">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="jobName" class="control-label">Name</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="jobName" placeholder="Specify a job name" ng-model="job.jobName">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="jobDescription" class="control-label">Description</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="jobDescription" placeholder="Provide some description about the job" ng-model="job.jobDescription">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="host" class="control-label">Host</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="host" placeholder="Host where the script is" ng-model="job.host">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="script" class="control-label">Script</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="script" placeholder="The script location" ng-model="job.script">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="job-color" class="control-label">Color</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="color" class="form-control" id="jobColor" ng-model="job.jobColor">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a type="submit" class="btn btn-primary" href="#" ng-click="saveJobs()">Save Job</a>
                                <a type="submit" class="btn btn-danger" href="#" ng-click="publishJobs()" ng-if="data.jobs">Publish Jobs</a>
                            </div>
                        </div>

                        <div class="row" >
            <div class="col-md-12">
                <div class="alert alert-dismissable alert-success" ng-if="successfullJobPost">
                <strong>Well done!</strong>You successfully read this important alert message.</div>
              <div class="alert alert-dismissable alert-danger" ng-if="unSuccessfullJobPost">
                <strong>Well done!</strong>You successfully read this important alert message.</div>    
          </div>
        </div
                    </form>
                </div>
            </div>
        </div>



    </body>

</html>