<ul class="list-group" id="addedJobs">
    <li class="list-group-item" ng-style="style={'background-color':job.jobColor}" ng-repeat="job in jobs" >
        <div class="row" ng-click="selectedJobName=job.jobName;selectedJobDescription=job.jobDescription">
            <span class="col-md-10 hideOverflow">{{job.jobName}}</span>
            <span class="col-md-2 fixed"><a class="btn btn-primary btn-sm" href="#" ng-click="deleteJob(job.jobName)">Delete</a></span>
        </div>
    </li>
</ul>